
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}


.content {
    text-align: center;
}


body {
    border: #000 5px solid;
   
    width: 70vh;
    height: 70vh;
    float: center;
    padding: 20px,
    font-size: 100px;
    text-align: center;
}


.sqr {
    border: #9aad62 5px solid;
    width: 10vh;
    height: 10vh;
    float: center;
    display: grid;
    padding: 50px,
    font-size: 100px;
    gap: 10px;
    text-align: center;
}




.sqr.Flipped {
    background-color: #c1ef37
    transform: rotateY(0);
    transition: transform 0.8s;
    transform-stye: preserve-3d;
}

block {
    height: 100px;
    width: 100px;
    background: rgb(173, 254, 44);
    border: 5px solid rgb(30, 30, 30);
    cursor: pointer;
    text: [icons];
}

/* #score {
    margin-top: 20px;
} */
    


#startBtn,
#restartButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #3b09a0;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.msg,
.gameTimer {
    display: none;
}